body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-font{
  font-family: 'Montserrat','Courier New', Courier, monospace;
  font-size: 30px;
}

.game-over-font{
  font-family: 'Aleo',monospace;
  font-size:30px;
  padding-top:20px;
}

.uncovered-tile-font{
  font-family: "Orbitron",monospace;
  
}

